
/*
<div class="dropdown">
            <button class="dropdown-btn">
              <span>Framework</span>
              <span class="arrow"></span>
            </button>
            <ul class="dropdown-content">
              <li><a href="#">React</a></li>
              <li><a href="#">Angular</a></li>
              <li><a href="#">Vue</a></li>
              <li><a href="#">Svelte</a></li>
            </ul>
          </div>
*/

.dropdown {
    max-width: 13em;
    margin: 80px auto 0;
    position: relative;
    width: 100%;
  }
  .dropdown-btn {
    background: #1d1f24;
    font-size: 18px;
    width: 100%;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
  }
  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
  }
  .dropdown-content {
    list-style: none;
    position: absolute;
    top: 3.2em;
    width: 100%;
  }
  .dropdown-content li {
    background: #2f3238;
    border-radius: 0.5em;
  }
  .dropdown-content li:hover {
    background: #1d1f24;
  }
  .dropdown-content li a {
    display: block;
    padding: 0.7em 0.5em;
    color: #fff;
    margin: 0.1em 0;
    text-decoration: none;
  }
  .dropdown-content {
    /* ... */
    visibility: hidden;
  }
  .dropdown-btn:focus + .dropdown-content {
    visibility: visible;
  } 
  .dropdown-btn:focus > .arrow {
    transform: rotate(180deg);
  }
  .dropdown-content {
    /* ... */
    overflow: hidden;
  } 
  .dropdown-content li {
    /* ... */
    position: relative;
    left: 100%;
    transition: 0.5s;
  }
  .dropdown-btn:focus + .dropdown-content li {
    left: 0;
  }
  .dropdown-content li {
    /* ... */
    transition-delay: calc(60ms * var(--delay));
  }